/* Global */

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

:root {
}

body {
  background: #da8e1e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4d5838, #da8e1e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4d5838,
    #da8e1e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Gallery */

.section-gallery {
  padding: 2rem;
}

.gallery {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
}

.gallery.gap {
  grid-gap: 5px;
}

.item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.gallery.gap .item {
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item.v2 {
  grid-row: span 2;
}

.item.v3 {
  grid-row: span 3;
}

.item.v4 {
  grid-row: span 4;
}

.item.v5 {
  grid-row: span 5;
}

.item.v6 {
  grid-row: span 6;
}

.item.v7 {
  grid-row: span 7;
}

.item.v8 {
  grid-row: span 8;
}

.item.h2 {
  grid-column: span 2;
}

.item.h3 {
  grid-column: span 3;
}

.item.h4 {
  grid-column: span 4;
}

.item.h5 {
  grid-column: span 5;
}

.item.h6 {
  grid-column: span 6;
}

.item.h7 {
  grid-column: span 7;
}

.item.h8 {
  grid-column: span 8;
}

/* Overlay */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.item-overlay {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  background: #ffc60032;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.2s ease-in-out;
}

.overlay-inner {
  background: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item:hover .item-overlay {
  transform: translateY(0%);
}

.item button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  padding: 5px;
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.btn-close {
  background: none;
  border: 0;
  cursor: pointer;
}

/* Toolbar */

.gallery-toolbar {
  display: flex;
  padding-right: 1rem;
  padding-top: 10px;
  justify-content: flex-end;
}

.fas {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.4);
  padding: 5px;
  cursor: pointer;
}

.fa-square.active {
  color: #fff;
}

.fa-th-large.active {
  color: #fff;
}

svg {
  margin-top: 6px;
  margin-left: 4px;
  fill: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.filled {
  fill: #fff;
}

/* Tooltip */

.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 0.9rem;
  padding: 10px;
  font-weight: 900;
}

.tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  margin-left: -5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
